<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Welcome to our Website! Axel & Diana</title>
  </head>
  <body class="container">
    <header>
      <nav>
        <h1>Welcome to our Website! Axel & Diana</h1>
        <a href="/auth/signup">Signup</a> - <a href="/auth/login">Login</a>
        <form method="POST" action="/auth/logout">
            <button type="submit">Log out</button>
        </form>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
