<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to our Website! Axel & Diana</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
