<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Welcome to our Website! Axel & Diana</title>
  </head>
  <body class="container">
    <header id="site-header">
      <nav>
        <a href="/"><h1>Welcome to our Website! Axel & Diana</h1></a>
        {{#unless currentUser}}
        <div class="links">
          <a class="button" href="/auth/signup">Sign-up</a> - <a class="button" href="/auth/login">Log-in</a>
        </div>
        {{/unless}}
        {{#if currentUser}}
        Logged as {{currentUser.username}}
        <form method="POST" action="/auth/logout">
            <button class="button" type="submit">Log out</button>
        </form>
        {{/if}}
      </nav>
    </header>
    <main id="site-main">
    {{{body}}}
    </main>
    <footer id="site-footer">

    </footer>
  </body>
</html>
